<div class="left">

  <input type="text" placeholder="name" #name>

<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Angular forms">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<p>

  <input type="text" placeholder="Country" #url>
  <input type="text" placeholder="Username" #url>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="Angular forms (w/ deserialization)">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<p>

<button mat-button (click)="addTutorial(name.value,url.value)">Add a Tutorial</button>
</div>

<div class="right">

  <input type="text" placeholder="Area" #name>
  <input type="text" placeholder="Job title" #url>
  <input type="text" placeholder="Tip rate" #url>
</div>
